<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- Полный капитал системы -->
    <add key="StartCapital" value="2100000"/>

    <!-- Коэфициент депозита хранения счетов -->
    <add key="DepositPercent" value="0.05"/>

    <!-- Комиссия банка за транзакции -->
    <add key="BankComission" value="0.02"/>

    <!-- Максимально выдается на руки игрокам -->
    <add key="MaximumByHands" value="10000"/>

    <!-- Милнимально выдается на руки игрокам -->
    <add key="MinimumByHands" value="5000"/>

    <!-- Максимальный размер транзакции -->
    <add key="MaxTransactionPrice" value="500"/>

    <!-- Коэф. увеличения разницы состояния между контр-агентами -->
    <add key="MaxTransactionDifferenceRate" value="0.3"/>

  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>