<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- Полный капитал системы -->
    <add key="StartCapital" value="100000000"/>

    <!-- Коэфициент депозита хранения счетов -->
    <add key="DepositPercent" value="0.05"/>

    <!-- Комиссия банка за транзакции для индивидуалов -->
    <add key="BankComissionForIndividual" value="0.025"/>
    
    <!-- Комиссия банка за транзакции для компаний -->
    <add key="BankComissionForCompanies" value="0.035"/>

    <!-- Максимально выдается на руки индивидуалам -->
    <add key="MaximumByHandsIndividual" value="10000"/>

    <!-- Милнимально выдается на руки индивидуалам -->
    <add key="MinimumByHandsIndividual" value="5000"/>
    
    <!-- Максимально выдается на руки индивидуалам -->
    <add key="MaximumByHandsCompany" value="20000"/>

    <!-- Милнимально выдается на руки индивидуалам -->
    <add key="MinimumByHandsCompany" value="10000"/>

    <!-- Максимальный размер транзакции -->
    <add key="MaxTransactionPrice" value="2000"/>

  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>